---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
const { title, description, image = "/preview.png" } = Astro.props;
import { SITE_URL } from "../consts";
const { pathname } = Astro.url;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={`${SITE_URL}${pathname}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, `${SITE_URL}${pathname}`)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={`${SITE_URL}${pathname}`} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
    property="twitter:image"
    content={new URL(image, `${SITE_URL}${pathname}`)}
/>
<!-- Start of Howxm client code snippet -->
<script>
    function _howxm() {
        _howxmQueue.push(arguments);
    }
    window._howxmQueue = window._howxmQueue || [];
    _howxm("setAppID", "c165cabf-4be9-422c-988e-0b6bc81ee638");
    (function () {
        var scriptId = "howxm_script";
        if (!document.getElementById(scriptId)) {
            var e = document.createElement("script"),
                t = document.getElementsByTagName("script")[0];
            e.setAttribute("id", scriptId);
            e.type = "text/javascript";
            e.async = !0;
            e.src = "https://static.howxm.com/sdk.js";
            t.parentNode.insertBefore(e, t);
        }
    })();
</script>
<!-- End of Howxm client code snippet -->
