---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
const { frontmatter, image = "/preview.png" } = Astro.props;
import { SITE_URL, SITE_TITLE, SITE_AUTHOR, SITE_DESCRIPTION } from "../consts";
const { pathname } = Astro.url;

const title = frontmatter ? frontmatter.title : Astro.props.title;
const description =
    (frontmatter ? frontmatter.description : Astro.props.description) ||
    SITE_DESCRIPTION;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="author" content={SITE_AUTHOR} />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta
    name="keywords"
    content={frontmatter
        ? frontmatter.keywords
            ? frontmatter.keywords
            : SITE_TITLE
        : SITE_TITLE}
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={`${SITE_URL}${pathname}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={`${SITE_URL}${pathname}`} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- 注入脚本 -->
{
    import.meta.env.HEAD_SCRIPTS ? (
        <Fragment set:html={import.meta.env.HEAD_SCRIPTS} />
    ) : null
}
